
// colors

/* s */
/* 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* текст колір основновний  #757575  */
/* текст колір додатковий #212121  */

/* кнопка білий #FFFFFF */
/* колір акцент #2196F3  */

/* фон осноcloseвний #F5F5F5 */
/* фон вторинний #F5F4FA  */
/* фон hero #2F303A */

$primary-text-color: #757575;
$secondary-text-color: #212121;
$button-text-color: #ffffff;
$accent-color: #2196f3;
$hero-color: #2f303a;


